.header {  
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
  }
  .html-header {
    margin: 5px 0 5px;
  }
  
  .html {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #f1f1f1;
    min-height: 20px;
    max-height: 10rem;
    overflow: auto;
  }

  .float-parent-element { 
    width: 50%; 
} 
.float-child-element { 
    float: left; 
    width: 50%; 
} 
.red { 
    background-color: red; 
    margin-left: 50%; 
    height: 100px; 
} 
.yellow { 
    margin-left: 50%; 
    height: 100px; 
    background-color: yellow; 
}

